* {
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

th {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

th, td {
  border: 1px solid #ccc;
  padding: .5em;
}

label {
  display: block;
  margin: .5em 0;
}

.form-field {
  margin: 1em 0;
}

.files-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
}

.description-input {
  width: 100%;
  max-width: 50em;
  height: 10em;
}

.alert:empty {
  display: none;
}

.alert-info {
  border: 1px solid #0c0;
  padding: 1em;
  margin: 1em 0;
  color: #0c0;
  background: #9f9;
}

.alert-danger {
  border: 1px solid #c00;
  padding: 1em;
  margin: 1em 0;
  color: #c00;
  background: #f99;
}

.pagination {
  text-align: center;
}

.pagination ul {
  padding: 0;
  margin: 1em 0;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
  border: 1px solid #ccc;
  margin: .5em;
}

.pagination li a,
.pagination li span {
  display: inline-block;
  min-width: 2em;
  text-align: center;
  padding: .5em;
}

.pagination li.active {
  font-weight: bold;
}

.pagination li:first-child {
  margin-left: 0;
}

.pagination li:last-child {
  margin-right: 0;
}

.form-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.form-flex > .form-field {
  max-width: 20em;
  flex: 0 1 auto;
  margin: .5em;
}

.torrents-table,
.torrents-table h3 {
  font-size: 14px
}

.torrents-table h3 {
  margin: 0;
}

.torrents-table h3 a:active,
.torrents-table h3 a:hover {
  text-decoration: underline;
}

.torrents-table a {
  text-decoration: none;
}

.torrents-table p {
  margin: .5em 0 0 0;
}

td.seeders {
  color: #090;
  font-weight: bold;
}

td.leechers {
  color: #900;
  font-weight: bold;
}

td.download-column a {
  text-decoration: none;
  font-size: 1.6em;
}

td.download-column a:link,
td.download-column a:visited,
td.download-column a:active,
td.download-column a:hover {
  color: #090;
}
