nav ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

th {
  text-align: left;
}

th.align-center, td.align-center {
  text-align: center;
}

th.align-right, td.align-right {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: .5em;
}

label {
  display: block;
  margin: .5em 0;
}

.form-field {
  margin: 1em 0;
}

.files-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
}

.description-input {
  width: 100%;
  max-width: 50em;
  height: 10em;
}

.alert:empty {
  display: none;
}

.alert-info {
  border: 1px solid #0c0;
  padding: 1em;
  margin: 1em 0;
  color: #0c0;
  background: #9f9;
}

.alert-danger {
  border: 1px solid #c00;
  padding: 1em;
  margin: 1em 0;
  color: #c00;
  background: #f99;
}

.pagination {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

.pagination li {
  display: inline-block;
  border: 1px solid #ccc;
  width: 2em;
  text-align: center;
  margin: .1em;
}
