<h2>Categories</h2>

<ul>
  <%= for category <- @categories do %>
    <li><%= category.name %> <%= link "Edit", to: Routes.admin_category_path(@conn, :edit, category) %></li>
  <% end %>
</ul>

<fieldset>
  <legend>New category</legend>
  <%= render "form.html", Map.put(assigns, :action, Routes.admin_category_path(@conn, :create)) %>
</fieldset>
